.koYsLf {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(240, 242, 247);
}

.jhFHoy {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.gVJVZs {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 0px 0.5rem;
}
.dIdVxU {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;
  padding: 0.5rem;
}

.dJDEkx {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 100px);
  padding: 0.5rem;
}
.dJDEkx > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.eEewhk {
  color: rgb(12, 108, 242);
  font-family: Inter;
  text-decoration: none;
  font-feature-settings: "calt" 0;
}
.fjudWa {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.eQTRKC {
  font-family: Inter;
  font-feature-settings: "calt" 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  opacity: 1;
}
.dwZIUy {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}
.cOpXwY {
  display: flex;
  flex-direction: column;
}
.cILyoi {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  font-style: normal;
  color: rgb(53, 63, 82);
  opacity: 1;
  text-align: start;
}
.vXYMB {
  display: block;
  padding: 0.25rem;
  color: rgb(0, 135, 90);
  background: rgb(209, 240, 219);
  border: 1px solid rgb(209, 240, 219);
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content !important;
}
.cIeQia {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.dSCEXn {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.dSCEXn > :not(:last-child) {
  margin-bottom: 5px;
}
.gMWvxK {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.gMWvxK > :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  max-width: 350px;
  width: 100%;
}
.esnCUU {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.esnCUU > :first-child {
  margin-right: 5px;
}
.brKiji {
  fill: rgb(61, 137, 245);
}
.ePxPaY {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding-top: 0.7rem;
}
.hDAkGl {
  width: 24px;
  height: 24px;
  fill: rgb(51, 159, 123);
}
.emJpZF {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.fydHVU {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.dVzTcW {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.gubqVD {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding-top: 0.7rem;
}
.behEow {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
